.idea
.vscode

dist/*
.env
.env.dev
node_modules/*
schema-tests.gql
schema.gql
schema.graphql
coverage/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# compose file for macOS
docker-compose.override.yml

# ConarCloud test report
test-report.xml

# Uploads
src/uploads/*.pdf